<<<<<<< HEAD
*{
    padding: 1px;
    margin: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    background: #f0f0f0;
}
body{
    height: 700px;
    width: 750px;
    margin: auto;
}
h2 {
    color: #4691c8
}

h3 {
    color: #4691c8;
    float: left;
}

#intro {
    height: 300px;
    width: 328px;
    float: left;
}

#añadirremover-productos{
    height: 40px;
    width: 400px;
    background: rgb(241,225,225);
    border: 2px solid #4691c8;
    float:right
}
#modificar-productos{
    height: 40px;
    width: 400px;
    background: rgb(241,241,225);
    border: 2px solid #4691c8;
    float:right
}
#lista-de-clientes-y-proveedores{
    height: 40px;
    width: 400px;
    background: rgb(227,241,225);
    border: 2px solid #4691c8;
    float:right
}
#historial{
    height: 40px;
    width: 400px;
    background: rgb(225,226,241);
    border: 2px solid #4691c8;
    float:right
}
#servicio-al-cliente,#cerrar-seccion{
    height: 40px;
    width: 200px;
    background: rgb(241,225,240);
    border: 2px solid #4691c8;
    float:right
}

=======
*{
    padding: 1px;
    margin: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    background: #f0f0f0;
}
body{
    height: 700px;
    width: 750px;
    margin: auto;
}
h2 {
    color: #4691c8
}

h3 {
    color: #4691c8;
    float: left;
}

#intro {
    height: 300px;
    width: 328px;
    float: left;
}

#añadirremover-productos{
    height: 40px;
    width: 400px;
    background: rgb(241,225,225);
    border: 2px solid #4691c8;
    float:right
}
#modificar-productos{
    height: 40px;
    width: 400px;
    background: rgb(241,241,225);
    border: 2px solid #4691c8;
    float:right
}
#lista-de-clientes-y-proveedores{
    height: 40px;
    width: 400px;
    background: rgb(227,241,225);
    border: 2px solid #4691c8;
    float:right
}
#historial{
    height: 40px;
    width: 400px;
    background: rgb(225,226,241);
    border: 2px solid #4691c8;
    float:right
}
#servicio-al-cliente,#cerrar-seccion{
    height: 40px;
    width: 200px;
    background: rgb(241,225,240);
    border: 2px solid #4691c8;
    float:right
}

>>>>>>> 00b634e5e3e1b41ff4812c163629d871d60de106
